@model HeatWise_Sprint_2.Net.Persistencia.Models.Analise

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Analise</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Relatorio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Relatorio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempoTelaAtiva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempoTelaAtiva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempoInatividade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempoInatividade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroCliquesMouse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroCliquesMouse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroTeclasPressionadas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroTeclasPressionadas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempoMedioConclusaoTarefas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempoMedioConclusaoTarefas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TarefasConcluidasPorTempo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TarefasConcluidasPorTempo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxaErros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxaErros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempoMedioCorrecaoErros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempoMedioCorrecaoErros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndiceEficiencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndiceEficiencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SatisfacaoUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SatisfacaoUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Site)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Site.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
